@import '../../../style/variables.scss';

.buttonContainer{  
    background-color: $ButtonColor;
    text-align: center;
    border-style: none;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    
}

.buttonContainer:hover{
    opacity: 0.7;
    cursor: pointer;
}

.buttonContainer:active{
    transform: scale(0.95);
}