// fonts
$Font1:Inknut Antiqua;
$Font2:'Poppins', sans-serif;

// colors
$TextInputBorder:#A9A9A9;
$ButtonColor:#FF4A5B;


// Screen

$small-screen: 600px;
$medium-screen: 900px;
$large-screen: 1300px;